.login-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}

h1 {
  text-align: center;
  font-family: var(--global-font);
}

.form-login-component {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
}

.remember-me-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#password,
#username {
  display: block;
  font-size: 17px;
  padding: 15px 10px;
  outline: nonr;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #b7b7b7;
  font-family: var(--global-font);
  letter-spacing: 1.3px;
}

#password:focus,
#username:focus {
  border: none;
  border-bottom: 2px solid var(--green-tea);
  color: var(--green-tea);
  outline: none;
}

#lable-checkbox {
  font-family: var(--global-font);
}

#remember-me-checkbox {
  height: 15px;
  width: 15px;
  background-color: #169741;
}

.btn-login {
  color: white;
  background-color: var(--green-tea);
}

.forget-link {
  font-family: var(--global-font);
  text-decoration: none;
  color: var(--green-tea);
}

.username-block {
  display: inline;
  width: -webkit-fill-available;
  position: relative;
}

.btn-login:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register-link {
  font-family: var(--global-font);
  color: #b7b7b7;
  font-weight: 600;
}

#lable-checkbox {
  margin-left: 5px;
}

.link {
  color: var(--green-tea);
  margin-left: 5px;
  font-weight: 600;
  text-decoration: none;
}

.link:focus {
  color: var(--green-tea);
}

.watermark {
  margin-top: 20px;
  font-family: var(--global-font);
  font-weight: 600;
  color: #b7b7b7;
}
