nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #ffffffb8;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: transparent;
  position: sticky;
  height: 90px;
  z-index: 3;
  margin: var(--container-margin);
}

.logo-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 20%;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  flex: 0 0 60%;
}

.nav-item {
  display: flex;
  height: 100%;
  width: 150px;
  flex-direction: column;
  justify-content: center;
}

.nav-menu-group {
  width: fit-content;
}

.logo-brand-image {
  height: 50px;
  width: 80px;
  margin-bottom: 15px;
}

.nav-link {
  text-decoration: none;
  color: var(--green-tea);
  font-size: 20px;
  padding: 10px 0;
  width: 150px;
}

.nav-item:active {
  color: var(--green-tea);
}

.nav-item:hover .nav-link {
  background-color: var(--green-tea);
  color: white;
}

.sign-in {
  background-color: var(--green-tea);
  color: white;
  padding: 10px 20px;
  font-family: var(--global-font);
  margin: 0;
}

.sign-in-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 20%;
}

.user-avatar {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid var(--green-tea);
}

.avatar-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.username-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.username {
  color: var(--green-tea);
  margin-left: 10px;
  height: fit-content;
}

.login-button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
