.post-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 40px);
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  box-shadow: var(--global-shadow);
}

.post-avatar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--green-tea);
  border-radius: 50%;
}

.post-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.33;
  margin: 10px 0;
}

.titlebar-item {
  display: flex;
  flex-direction: row;
}

.post-block {
  padding: 20px 0;
  margin: var(--container-margin);
}

.post-item-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-detail {
  text-align: justify;
}

.connect-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.prize-connect-icon {
  height: 100%;
  font-size: 20px;
  color: rgb(218, 178, 0);
}

.btn-connect {
  font-size: 15px;
  padding: 5px 10px;
  color: white;
  background-color: var(--green-tea);
  margin: 0;
}

.prize-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-tag {
  display: inline;
  margin-left: 10px;
  font-size: 15px;
}

.prize-block {
  display: flex;
  flex-direction: row;
}
