.post-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 40px);
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  box-shadow: var(--global-shadow);
}

.post-avatar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--green-tea);
  border-radius: 50%;
}

.post-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.33;
  margin: 10px 0;
}

.titlebar-item {
  display: flex;
  flex-direction: row;
}

.post-block {
  padding: 20px 0;
  margin: var(--container-margin);
}

.post-item-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-detail {
  text-align: justify;
}
