@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap%27");

:root {
  /* Global color */
  --green-tea: #169741;

  /* Global font */
  --global-font: "Quicksand", sans-serif;

  /* Global margin form container*/
  --container-margin: 0 10%;
  /* Global shadow */
  --global-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --phone-size: 600px;
  --tablet-size: 700px;
  --destop-size: 1000px;
}

html {
  height: 100%;
  background-color: #ffffff;
}

.App {
  text-align: center;
  height: 100%;
}

.btn {
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 15px;
}

.input-field-style {
  display: block;
  font-size: 17px;
  padding: 15px 10px;
  outline: nonr;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid #b7b7b7;
  font-family: var(--global-font);
  letter-spacing: 1.3px;
}

.input-field-style:focus {
  border: none;
  border-bottom: 2px solid var(--green-tea);
  color: var(--green-tea);
  outline: none;
}

.form-title {
  font-size: 30px;
}

.green-tea {
  color: var(--green-tea);
}
