@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap%27");

:root {
  /* Global color */
  --green-tea: #169741;

  /* Global font */
  --global-font: "Quicksand", sans-serif;

  /* Global margin form container*/
  --container-margin: 0 10%;
  /* Global shadow */
  --global-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --phone-size: 600px;
  --tablet-size: 700px;
  --destop-size: 1000px;
}

html {
  height: 100%;
  background-color: #ffffff;
}

.App {
  text-align: center;
  height: 100%;
}

.btn {
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 15px;
}
