@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap%27');

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}
html {
  height: 100%;
  background-color: #ffffff;
}

.App {
  text-align: center;
  height: 100%;
}
