* {
  padding: 0;
  margin: 0;
  font-family: var(--global-font);
}
.slide-container {
  z-index: 0;
}
.slide-content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.text {
  font-family: var(--global-font);
  font-size: 35px;
  padding: var(--container-margin);
  color: #fff;
}
.infor-button {
  font-family: var(--global-font);
  background: rgba(255, 255, 255, 0.4);
  padding: 15px 15px 15px 15px;
  width: fit-content;
  outline: none;
  border: none;
}

.infor-button:hover {
  background-color: var(--green-tea);
}

.infor-button:focus {
  outline: none;
  border: none;
}
.infor-button-content {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

.button-block {
  margin-top: 20px;
}

.infor-button-content:focus {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.infor-button-content:active {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(65%);
}
